body{
    font-family: Arial, sans-serif;
}

.sc-carousel__carousel-container {
    height: 100%;
  }

  .sc-carousel__content-container {
    height: 100%;
  }

  a{
    text-decoration: none;
    color:white;
    padding-left: 10px;
    width: 100%;
    height:auto;
    display: flex;
   }

   nav ul li a {
    color:black;
   }
 
   a:hover{
     color:#007bff;
   }
